.form {
  width: 100%;
  max-width: 350px;
  padding: 2em;
  background-color: #f96d00;
  position: relative;
  border-radius: 5px;
}

.form__x {
  position: absolute;
  right: 1em;
  font-size: 1.5rem;
  color: #d85d5d;
  top: 0.8em;
  cursor: pointer;
  transition: transform 100ms ease;
}

.form__x:hover {
  transform: scale(1.1);
}

.form__title {
  margin-bottom: 0.5em;
}

.form__div {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
  margin-bottom: 0.8em;
  align-items: center;
}

.form__div:nth-child(7) {
  margin-bottom: 2em;
}

.form__item {
  margin: 1em;
}

.form__input {
  font-size: 1rem;
  font-weight: 100;
  padding: 0.5em 0.8em;
  border-radius: 0.2em;
  border: 1px solid #aaaa;
  background-color: rgb(181, 185, 185);
}

.form__btn {
  width: 100%;
  padding: 0.8em;
  color: white;
  background-color: #393e46;
  transition: filter 100ms ease;
  font-size: 1rem;
}

.form__btn:hover {
  filter: brightness(1.2);
}
